@page
@using ClassLib_Shelter.Registers;
@using ClassLib_Shelter.Model;
@using ClassLib_Shelter.Filters;
@using ClassLib_Shelter.Services;
@model WebApplication_FDF_K19_Shelter.Pages.DistrictRegisterModel
@{
}



<h1>Kredse
</h1>
<div class="row">


	<table class="table table-hover">
		<thead>
			<tr>
				<th>Name</th>
				<th>Mail</th>
				<th>Phone</th>
                <th>Age Group</th>
                <th>Location</th>

			</tr>
		</thead>

		<tbody>
			<form method="post">

				@foreach (District u in Model.Districts.GetAll())
				{

				<tr>
					<td> <a class="nav-link text-dark" asp-area="" asp-page="/"> @u.Name </a></td>
				
					<td> <a class="nav-link text-dark" asp-area="" asp-page="/"> @u.ContactEmail </a></td>
                    <td> <a class="nav-link text-dark" asp-area="" asp-page="/"> @u.ContactPhone </a></td>
					<td> <a class="nav-link text-dark" asp-area="" asp-page="/"> @u.AgeGroup </a></td>
					<td> <a class="nav-link text-dark" asp-area="" asp-page="/"> @u.Location </a></td>



				</tr>

			}
			</form>
		</tbody>

</div>
