@page
@model BookingListModel

<h2>Bookings</h2>
<ul>
@foreach(var b in Model.Bookings)
{
    <li>Id: @b.BookingId - @b.FullName - Shelter: @b.ShelterToBook.Name - @b.CheckInDate.ToShortDateString() to @b.CheckoutDate.ToShortDateString()</li>
}
</ul>